// Color starter
$bg-first: #1B2735;
$bg-second: #090A0F;
$bg-content: #222222;
$primary: #11998e;
$secondary: #38ef7d;
$gray: #9b9b9b;
$red: #DC143C;
$yellow: #FFFF00;

$res-width: 851;

// Init font
@font-face {
  font-family: roboto-body;
  src: url('../font/Roboto-Medium.ttf');
}

@font-face {
  font-family: roboto-title;
  src: url('../font/Roboto-Black.ttf');
}

@font-face {
  font-family: roboto-light;
  src: url('../font/Roboto-Light.ttf');
}

@font-face {
  font-family: roboto-italic;
  src: url('../font/Roboto-Italic.ttf');
}

/* RAZ style nav */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(ellipse at bottom, $bg-first 0%, $bg-second 100%);
  }

  @include mdq($res-width - 1) {
    max-height: 100%;
    overflow: hidden;
  }
}

body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: roboto-body, sans-serif;
  color: $gray;
  position: relative;
  transition-duration: 1s;
  overflow-x: hidden;

  &:before {
    content:"";
    background: url("../images/eyes.png") no-repeat;
    width: 511px;
    height: 185px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .02;
    animation: bg-anim 2s ease-in-out;
  }

}

/* Animation background */
@keyframes bg-anim {
  0% {
    opacity: 0.02;
  }
  15% {
    opacity: 0.03;
  }
  30% {
    opacity: 0.06;
  }
  45% {
    opacity: 0.08;
  }
  65% {
    opacity: 0.06;
  }
  80% {
    opacity: 0.03;
  }
  100% {
    opacity: .01;
  }
}

.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ornote-head {
  margin-bottom: 2.5rem;
}

#block-ornote-main-menu {
  padding-bottom: 5%;
}

h1 {
  font-family: roboto-title, sans-serif;
  font-size: 3vw;
  background: -webkit-linear-gradient(#38495a, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 1rem;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.15rem;
  position: relative;
  top: -.25rem;

  @include mdq(1000) {
    font-size: 5vw;
  }
}

.ornote-title {
  top: 1.4rem;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary;
  transition: .1s;

  &:hover {
    color: $secondary;
    transition: .1s;
  }
}

iframe {
  border: none;
  z-index: 2;
  position: relative;
}

pre, code {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $secondary;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $gray;
}
*/

/* Style Global */
.anim-enter {
  text-align: center;
  transition: all 1s;
  transform: scale(1);
  transform-origin: center;
  animation: border-anim 2.5s ease;
  padding: 1.5rem;

  &:after, &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0 solid transparent;
    border-radius: 10px;
    transition: all 1s;
    animation: border-anim-pseudo 2.5s ease;
  }

  &:after {
    top: -1px;
    left: -1px;
    border-top: .1rem solid $primary;
    border-left: .1rem solid $primary;
  }

  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: .1rem solid $secondary;
    border-right: .1rem solid $secondary;
  }

  @keyframes border-anim {
    0% {
      transform: scale(0);
      transform-origin: center;
    }
    100% {
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      transform: scale(1);
    }
  }

  @keyframes border-anim-pseudo {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
}

.separator {

  &:after {
    content:"";
    display: block;
    height: .1rem;
    @include page-width(50%);
    background: linear-gradient( to right, $primary, $secondary);
    margin-top: .8rem;
  }
}

/* Layout */
.col-1 {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-right: 2.5%;
}

.col-2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 2.5%;
}
